:root{
    -yellow: rgb(255, 245, 98); 
}

.container{
    display: flex;
    width: 400px;
    height: 700px;
    align-items: flex-start;
    margin: 10px auto;
    border: 1px solid cornflowerblue;
}


.detail{
    width: 250px;
    height: 500px;
    border: 1px solid chocolate;
    margin: 15% auto;
    padding-top: 25px;
}
.home{
    position: relative;
    font-family: monospace;
    font-size: 1.7em;
    color: dimgray;
    display: flex;

}


